{{!< default}}

<main class="content content-lg content--page clearfix" role="main">
  {{#post}}
    {{> "post/post" }}
  {{/post}}
</main>

{{> "post/share-post" }}

{{> "post/related-posts" }}

{{> "post/comments-on-post" }}

{{> "post/share" }}
