<h1 class="brand-essetouch">
  <a href="/" title="EsseTouch - Compartilhando Inspirações">
    <img src="{{ asset "images/logo_essetouch.png" }}" alt="EsseTouch - Compartilhando Inspirações" width="219">
  </a>
</h1>