<div id="siteSearch" class="siteSearch modal main">
  <div class="content content-md">
    <div class="searchContent">
      <button data-modal-target="siteSearch" class="closeModal icon icon-cancel"></button>

      <header>
        <h2>
          O que você está <br>
          procurando?
        </h2>
      </header>

      <form>
        <input autofocus type="text">
      </form>
    </div>
  </div>
</div>