<div id="share" class="share modal main">
  <section class="content content-md">
    <button data-modal-target="share" class="closeModal icon icon-cancel"></button>

    <header>
      <h2>
        Compartilhe em sua <br>
        rede social favorita!
      </h2>
    </header>

    <ul class="shareOptions clearfix">
      <li>
        <a href="" class="icon icon-facebook"></a>
      </li>

      <li>
        <a href="" class="icon icon-google-plus"></a>
      </li>

      <li>
        <a href="" class="icon icon-twitter"></a>
      </li>
    </ul>
  </section>
</div>