<section class="main">
  <div class="sharePost content content-md clearfix">
    <a data-modal-target="share" href="#" title="Compartilhe esse post em sua rede social favorita." class="icon icon-forward">
      compartilhe
    </a>
  </div>
</section>