<nav class="site-menu">
  <ul>
    <li>
      <a href="/videos" title="Conheça todos os nossos vídeos">
        Vídeos
      </a>
    </li>

    <li>
      <a href="/sobre" title="Saiba mais sobre a EsseTouch">
        Sobre
      </a>
    </li>

    <li>
      <a href="/contato" title="Entre em contato conosco">
        Contato
      </a>
    </li>

    <li>
      <a data-modal-target="siteSearch" href="#" title="Faça uma pesquisa para encontrar o que procura">
        Busca
      </a>
    </li>
  </ul>
</nav>