<nav class="social-menu">
  <ul>
    <li>
      <a href="" title="Acesse nosso canal EsseTouch no Youtube">
        <span>Canal EsseTouch no Youtube</span>
        <i class="icon icon-youtube"></i>
      </a>
    </li>

    <li>
      <a href="" title="Acesse nosso Instagram @EsseTouch">
        <span>Instagram @EsseTouch</span>
        <i class="icon icon-instagram"></i>
      </a>
    </li>

    <li>
      <a href="" title="Acesse o EsseTouch no Facebook">
        <span>Facebook do EsseTouch</span>
        <i class="icon icon-facebook-squared"></i>
      </a>
    </li>

    <li>
      <a href="" title="Acesse o EsseTouch no GooglePlus">
        <span>GooglePlus do EsseTouch</span>
        <i class="icon icon-google-plus-squared"></i>
      </a>
    </li>

    <li>
      <a href="" title="Acesse o EsseTouch no Twitter">
        <span>Twitter do EsseTouch</span>
        <i class="icon icon-twitter-squared"></i>
      </a>
    </li>
  </ul>
</nav>